<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PathFilesToDelete" type="System.Configuration.NameValueSectionHandler" />
    <section name="PathFilesToDeleteCatch" type="System.Configuration.NameValueSectionHandler" />
    <section name="PathFilesToDeleteOlder" type="System.Configuration.NameValueSectionHandler" />
    <section name="PathFilesToDeleteDays" type="System.Configuration.NameValueSectionHandler" />
    <section name="FilesToDelete" type="System.Configuration.NameValueSectionHandler" />
    <section name="FilesToHide" type="System.Configuration.NameValueSectionHandler" />
    <section name="TasksToDisable" type="System.Configuration.NameValueSectionHandler" />
    <section name="ServicesToManual" type="System.Configuration.NameValueSectionHandler" />
    <section name="Logging" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Custom entries for files and folders in a directory to be deleted (keeps the root directory) MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <PathFilesToDelete>
    <add key="Path1" value="%USERPROFILE%\Workspace\Development\Programs\Media Companion\cache\" />
    <add key="Path2" value="%USERPROFILE%\Workspace\Development\Programs\Media Companion\Settings\postercache\" />
    <add key="Path3" value="E:\Media Companion\cache\" />
    <add key="Path4" value="E:\Media Companion\Settings\postercache\" />
    <add key="Path5" value="%systemdrive%\Program Files (x86)\IObit\Advanced SystemCare\Pub\" />
  </PathFilesToDelete>
  <PathFilesToDeleteCatch>
    <add key="Path1" value="%systemdrive%\Program Files (x86)\IObit\Advanced SystemCare\Pub\" />
  </PathFilesToDeleteCatch>
  <!-- Custom entries for files and folders in a directory to be deleted (keeps the root directory and anything not older than a day) MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <!-- MUST SET DAYS TO KEEP UNDERNEATH THIS SECTION AT PathFilesToDeleteDays -->
  <PathFilesToDeleteOlder>
    <add key="Path1" value="%LOCALAPPDATA%\Temp\" />
    <add key="Path2" value="%USERPROFILE%\Workspace\Documents\My Games\StarConflict\logs" />
    <add key="Path3" value="%USERPROFILE%\Workspace\Documents\My Games\StarConflict\Exceptions" />
  </PathFilesToDeleteOlder>
  <!-- PathFilesToDelete by how many days you want to keep. Match key with key For example Path1 = Path1 with value of 1 day  |   MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <PathFilesToDeleteDays>
    <add key="Path1" value="1" />
    <add key="Path2" value="7" />
    <add key="Path3" value="7" />
  </PathFilesToDeleteDays>
  <!-- Custom entries for files to be deleted MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <FilesToDelete>
    <add key="File1" value="C:\cmdlog.txt" />
  </FilesToDelete>
  <!-- Custom entries for files/directories to hide MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <FilesToHide>
    <add key="Hide1" value="C:\END" />
    <add key="Hide2" value="C:\bootsqm.dat" />
    <add key="Hide3" value="%USERPROFILE%\ntuser.dat" />
    <add key="Hide4" value="%USERPROFILE%\ntuser.bak" />
    <add key="Hide5" value="%USERPROFILE%\.gitconfig" />
    <add key="Hide6" value="%USERPROFILE%\.TeamSpeak 3" />
    <add key="Hide7" value="%USERPROFILE%\.cache" />
    <add key="Hide8" value="%USERPROFILE%\.QtWebEngineProcess" />
    <add key="Hide9" value="%USERPROFILE%\.gimp-2.8" />
    <add key="Hide10" value="%USERPROFILE%\.thumbnails" />
    <add key="Hide11" value="%USERPROFILE%\.nuget" />
  </FilesToHide>
  <!-- Custom entries for Tasks to be disabled MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <TasksToDisable>
    <add key="Task1" value="OneDrive Standalone Update Task v2"/>
    <add key="Task2" value="ASC10_SkipUac_Micha"/>
    <add key="Task3" value="CCleaner"/>
    <add key="Task4" value="Overwolf Updater Task"/>
  </TasksToDisable>
  <!-- Custom entries for Services to be set to manual MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <ServicesToManual>
    <add key="Service1" value="IpOverUsbSvc"/>
    <!-- Windows Phone IP over USB -->
    <add key="Service2" value="DeviceAssociationService"/>
    <!-- Device Association Service -->
    <add key="Service3" value="PcaSvc"/>
    <!-- Program Compatibility Assistant -->
    <add key="Service4" value="StorSvc"/>
    <!-- Storage Services-->
    <add key="Service5" value="stisvc"/>
    <!-- Windows Image Acquisition (WIA)-->
    <add key="Service6" value="WMPNetworkSvc"/>
    <!-- Windows Media Player Network Sharing Service-->
    <add key="Service7" value="AdvancedSystemCareService11"/>
    <!-- Advanced System Care -->
    <!--<add key="Service8" value="Stereo Service"/> Nvidia Stereoscopic -->
    <!--<add key="Service9" value="FontCache"/> Windows Font Cache Service (Only disable if not using applications/gaming PC ONLY) -->
  </ServicesToManual>
  <Logging>
    <add key="Logging" value="false"/>
  </Logging>
</configuration>