<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PathFilesToDelete" type="System.Configuration.NameValueSectionHandler" />
    <section name="PathFilesToDeleteOlder" type="System.Configuration.NameValueSectionHandler" />
    <section name="PathFilesToDeleteDays" type="System.Configuration.NameValueSectionHandler" />
    <section name="FilesToDelete" type="System.Configuration.NameValueSectionHandler" />
    <section name="FilesToHide" type="System.Configuration.NameValueSectionHandler" />
    <section name="TasksToDisable" type="System.Configuration.NameValueSectionHandler" />
    <section name="ServicesToManual" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Custom entries for files and folders in a directory to be deleted (keeps the root directory) MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <PathFilesToDelete>
    <add key="Path1" value="%USERPROFILE%\Workspace\Development\Media Companion\cache\" />
    <add key="Path2" value="%USERPROFILE%\Workspace\Development\Media Companion\Settings\postercache\" />
  </PathFilesToDelete>
  <!-- Custom entries for files and folders in a directory to be deleted (keeps the root directory and anything not older than a day) MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <PathFilesToDeleteOlder>
    <add key="Path3" value="%LOCALAPPDATA%\Temp\" />
    <add key="Path4" value="%USERPROFILE%\Workspace\Documents\My Games\StarConflict\logs" />
    <add key="Path5" value="%USERPROFILE%\Workspace\Documents\My Games\StarConflict\Exceptions" />
  </PathFilesToDeleteOlder>
  <PathFilesToDeleteDays>
    <add key="Path4" value="7" />
    <add key="Path5" value="7" />
  </PathFilesToDeleteDays>
  <!-- Custom entries for files to be deleted MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <FilesToDelete>
    <add key="File1" value="C:\cmdlog.txt" />
  </FilesToDelete>
  <!-- Custom entries for files/directories to hide MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <FilesToHide>
    <add key="Hide1" value="C:\END" />
    <add key="Hide2" value="C:\bootsqm.dat" />
    <add key="Hide3" value="%USERPROFILE%\ntuser.dat" />
    <add key="Hide4" value="%USERPROFILE%\ntuser.bak" />
    <add key="Hide5" value="%USERPROFILE%\.gitconfig" />
    <add key="Hide6" value="%USERPROFILE%\.TeamSpeak 3" />
    <add key="Hide7" value="%USERPROFILE%\.cache" />
    <add key="Hide8" value="%USERPROFILE%\.QtWebEngineProcess" />
    <add key="Hide9" value="%USERPROFILE%\.gimp-2.8" />
    <add key="Hide10" value="%USERPROFILE%\.thumbnails" />
    <add key="Hide11" value="%USERPROFILE%\.nuget" />
  </FilesToHide>
  <!-- Custom entries for Tasks to be disabled MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <TasksToDisable>
    <add key="Task1" value="OneDrive Standalone Update Task v2"/>
  </TasksToDisable>
  <!-- Custom entries for Services to be set to manual MAKE SURE TO CHANGE KEY NAME IN NUMERIC ORDER -->
  <ServicesToManual>
    <add key="Service1" value=""/>
  </ServicesToManual>
</configuration>